fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
python-dotenv
passlib[argon2]
python-jose[cryptography]
pydantic
python-multipart
celery
spacy
PyMuPDF
python-docx
selenium
linkedin-scraper
google-generativeai

